.App {
  text-align: center;
  margin: 2em 4em;
  color:#8f9481;
}

.App h1{
  color:#B2B8A3;
}
/* Displays the current hand of cards to beat */
.App-CurrentHand {
  height: 300px;
  border: 1px solid #F4C7AB;
  border-radius: 15px;
  padding: 1em;
}
.App-CurrentHand h4{
  margin: 1em;
}

.App-CurrentHand img{
  width: 9em;
}

.App-btn{
    padding: 0.5em;
    border: 1px solid #DEEDF0;
    border-radius: 5px;
    background-color: #DEEDF0;
    margin: 5px;
    font-size: medium;
    font-family: 'Montserrat',
      sans-serif;

}