.LandingPg{
  text-align: center;
  margin: 2em 4em;
  color:#808574;
}

.LandingPg-instructions{
    border: 2px solid #F4C7AB;
    border-radius: 15px;
    margin: 0 20%;
    font-size: larger;
}

.LandingPg-instructions ul{
    padding: 1em;
}

.LandingPg-instructions li{
    list-style: none;
    margin-bottom: 1em;
}

.LandingPg-instructions a{
    text-decoration: none;
}

.LandingPg-instructions button{
    text-decoration: none;
    font-size: large;
    padding: 0.5em;
    border: 2px solid #d5e7eb;
    border-radius: 5px;
    background-color: #DEEDF0;
    margin: 5px;
    font-family: 'Montserrat',
    sans-serif;
}

.LandingPg-instructions button a{
    
    color: black;
}

.LandingPg-instructions button:hover {
    border: 1px solid #B2B8A3;
    background-color: #B2B8A3;

}


/* Engineer card */
.LandingPg-card{
    /* border: 1px solid black; */
    width: 30%;
    margin:auto;
    padding: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.LandingPg-img-border{
    border: 2px dashed #f0bd9d;
    width:fit-content;
    height:10em;
    border-radius: 50%;
    padding: 5px;
    margin: 5% auto;

}

.LandingPg-card img{
    margin:none;
    width: 10em;
    border-radius: 50%;
}

.LandingPg-card h4{
margin: 4px;
}

.LandingPg-card a{
    text-decoration: none;
    margin: 0 4%;
}

.LandingPg-card p{
    margin-top: 0;
}

a:visited{
    color: initial;
}