.LandingPg{
  text-align: center;
  margin: 2em 4em;
  color:#808574;
}

.LandingPg-instructions{
    border: 1px solid #F4C7AB;
    border-radius: 15px;
    margin: 0 20%;
    font-size: larger;
    
}

.LandingPg-instructions li{
    list-style: none;
}
.LandingPg-instructions a{
    text-decoration: none;
}


